
.isi{
    height: 470px;
    /*margin: auto;*/
    
}

.img3{
    bottom: -200px;
    /*top: 100px;*/
    left: 150px; 
    position: absolute;
    width: 350px;
    z-index: 1;
    opacity: 0.6;
}
    

.kiri1{
   
    position: absolute;
    margin: auto; 
    /*z-index: 3;*/
    /*right: 34%;*/
    top: 140px;
    /*border: 2px solid red;*/
    width: 99%;
    

}
.kiri1 h2{
    /*margin: auto;*/
    /*padding: 1%;*/
    text-align: center;
    color: white;
    font-size: 50px;
}


.card{
    margin: auto;
    margin-top: -160px;
    /*border: 2px solid black;*/
    width:  880px;
    height: 400px;
}
div.cardjadwal1 {
  /*margin-top: -200px;
  margin-left: 50px;*/
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
  width: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 6px; 
}

div.cardjadwal{
  /*margin-top: -200px;
  margin-left: 50px;*/
  width: 250px;
  margin-right: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 6px;
  display: inline-block;
}

div.headerjadwal {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
}

div.containerjadwal {
text-align: left;
  padding: 10px;
}
.container .centered{
    border: 2px solid red;
}

.button-proker a{
    text-decoration: none;
    color: white;
    background-color: lawngreen;
    padding: 5px 30px 5px 0;
    margin-left: 30px;
    border-radius: 10px; 
    z-index: 4;
    position: relative;  
}
.button-proker a img{
    width: 25px;
    height: auto;
    position: relative;
    margin-right: 10px;
    
}


@media (min-width:801px) and (max-width:1000px){
    .img3{
        width: 300px;
    }

    .kanan1{
        width: 60%;
        
    }
    .kiri1{
        width: 40%;

    }
}

@media (min-width:500px) and (max-width:800px){
    .img3{  
        width:200px;
    } 
    
    .kanan1{
        width: 100%;
        float: left;
    }
    
    .kiri1{
        width: 100%;
        float: right;
    }

    .kanan1 p{
        margin: 5% 5% 0% 5%;
        padding: 3%;
    }

    .kiri1 h2{
        font-size: 40px;
        text-align: center;
        margin: 4% auto 0 auto;
        padding: 1%;
        color: white;
    }
}

@media (max-width:499px){    
    .img3{
        width:100px;
    }

    .kanan1{
        width: 100%;
        float: left;
    }
    .kiri1{
        width: 100%;
        float: right;
    }

    .kanan1 p{
        margin: 5% 5% 0% 5%;
        padding: 3%;
    }

    .kiri1 h2{
        font-size: 25px;
        text-align: center;
        margin: 4% auto 0 auto;
        padding: 1%;
        color: white;
    }

   
    .kanan1 p{
        font-size: 12px;
    }
    
}